# ℹ️ Remove creation date.
# › git config filter.ic2_config_date_update.clean "grep -v '^; created'"
config/IC2.ini filter=ic2_config_date_update

# › git config filter.remove_date.clean "sed 's/#... ... .*$//'"
config/splash.properties filter=remove_date
config/craftpresence.properties filter=remove_date
config/packetfixer.properties filter=remove_date

# ℹ️ Remove the enchantment list, as it changes when mods are added or removed.
# › git config filter.as_config_cleanup.clean "sed '/default: /d'"
config/astralsorcery/amulet_enchantments.cfg filter=as_config_cleanup

# ℹ️ Unify number format between Forge and Cleanroom.
# › git config filter.ice_and_fire.clean "sed 's/2.1474836E9/2.14748365E9/'"
config/ice_and_fire.cfg filter=ice_and_fire

# ℹ️ Sort the item list, as JEI shuffles it.
# › git config filter.itemBlacklist.clean 'content=$(cat); (echo "$content" | head -n 12 && echo "$content" | tail -n +13 | head -n -2 | tr -d "\\r" | sort -V && echo "$content" | tail -n -2)'
config/jei/itemBlacklist.cfg filter=itemBlacklist

# ℹ️ Sort the JSON file, as it can be shuffled.
# › git config filter.json-sorter.clean "jq 'walk(if type==\"object\" then to_entries|sort_by(.key|ascii_downcase)|from_entries else . end)'"
# › git config filter.json-sorter.smudge "jq 'walk(if type==\"object\" then to_entries|sort_by(.key|ascii_downcase)|from_entries else . end)'"
config/xaerominimap_entities.json filter=json-sorter
config/crash_assistant/**/*.json filter=json-sorter

# ℹ️ Remove random values that change on every load.
# › git config filter.enderio_cleanup.clean "sed 's/S:optifineConfirmed=.*/S:optifineConfirmed=0/; s/default: [I@[a-f0-9]*$/default: [I@00000000/"
config/enderio/enderio.cfg filter=enderio_cleanup
