# Configuration file

general {
    # The global highlight RGBA color override. Format: #[red][green][blue][alpha] -> #00000000
    # Min: 0
    # Max: 16777215
    S:"Global Highlight Color"=#00000066

    # The global rendered highlight line width.
    # Min: 0
    # Max: 1000
    I:"Global Highlight Width"=2

    # Block specific highlight overrides.
    #   Format: modid:blockid:[meta]=linewidth;color
    #     modid - the mod id
    #     blockid - the block id
    #     meta - (optional) the block metadata
    #     linewidth - the rendered line width, default MC value is 2
    #     color - the hex RGBA color code
    #   Examples:
    #     minecraft:stone=20;#ff000066
    #     minecraft:stone:0=20;#ff000066
    S:"Highlight Overrides" <
     >

    "no harvest highlights" {
        # Enables the no harvest outline overrides that appear when a player cannot harvest a highlighted block.
        B:"Enable No Harvest Outlines"=false

        # The highlight RGBA color override for blocks that cannot be harvested. Format: #[red][green][blue][alpha] -> #00000000
        S:"No Harvest Global Color"=#ff000066

        # The rendered highlight line width for blocks that cannot be harvested.
        I:"No Harvest Global Line Width"=2

        # Block specific highlight overrides when a player cannot harvest the highlighted block.
        #   Format: modid:blockid:[meta]=linewidth;color
        #     modid - the mod id
        #     blockid - the block id
        #     meta - (optional) the block metadata
        #     linewidth - the rendered line width, default MC value is 2
        #     color - the hex RGBA color code
        #   Examples:
        #     minecraft:stone=20;#ff000066
        #     minecraft:stone:0=20;#ff000066
        S:"No Harvest Highlight Overrides" <
         >
    }

}


